---
import { Icon } from "astro-icon";
const Links = [
  { icon: "vscode-icons:file-type-word", link: "/about", label: "About" },
  { icon: "vscode-icons:file-type-excel", link: "/tags", label: " Tags " },
  { icon: "vscode-icons:file-type-outlook", link: "/contact", label: "Social" },
  { icon: "vscode-icons:file-type-powerpoint", link: "/portfolio", label: "Portfolio" },
];
const styles = Astro.props;
---
<style>
    :root{
        --size: 50px; 
    }
    #container{
        margin-top: 10px;
        text-align: center;
    }
    #applink{
        margin: 10px;
        text-decoration: none;
        display: block;
        width: 90px; 
    }
    #icon{
        height: var(--size);
        width: var(--size);  
    }
    #text{
        color: white;
        margin-bottom: 10px;
        margin-left: 10px;
        text-decoration: none;
    }
</style>
<div id="container" class={styles.class}>
    {
      Links.map((item) => {
        return (
          <a href={item.link} aria-label={item.label} id="applink">
            <Icon name={item.icon} height="35" id="icon"/>
            <span id="text">{item.label}</span>
          </a>
          
        );
      })
    }
</div>