---
import AppLayout from "./AppLayout.astro";
import Slide from "../components/Slide.astro";
const { frontmatter } = Astro.props;
const allSlides = await Astro.glob("../pages/slides/*.md")
---
<style>
    a {
        color: #00539F;
    }
              
    .tags {
        display: flex; 
        flex-wrap: wrap; 
        margin: 0 auto;  
    }
  
    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
    .item1 { 
		flex-grow: 2;
		background-color: orange;
		height: 100%;
	}
	.item2 { 
		flex-grow: 8;
		background-color: black;
		height: 100%;
	}
	.flex-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
	}
  </style>

<AppLayout pageTitle ={frontmatter.title}>
    <div class="flex-container">
		<div class="item1">
			{allSlides.map((slide) => <Slide url={slide.url} title ={slide.frontmatter.title}/>)}
		</div>
		<div class="item2">
			<p>Written by: <a href={frontmatter.url}>{frontmatter.author}</a></p>  
            <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
            <p><em>{frontmatter.description}</em></p>
            <div class="tags">
                {frontmatter.tags.map((tag: unknown) => (
                <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
                ))}
            </div>
		</div>
	</div>  
    <slot />
</AppLayout>